<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timwe.tti2sdk"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>

    <application
        android:name=".di.Application"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.avatar.AvatarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.missions.MissionsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.board.LeaderBoardActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.prizes.PrizesActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.helpwebview.HelpWebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.destinations.DestinationActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="app.rive.runtime.kotlin.RiveInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>